/* Скидання стилів */
@import url("reset.css");

span {
	color: brown;
}

/* Усі об'єкти в середині об'єктів з класом text */
.text * {
  color: green;
}

/* Усі теги Р першого рівня(безпосередньо)
	в середині об'єктів з класом text */
.text > p {
  color: red;
}

/* 
	Усі теги Р, які знаходяться далі по коду після об'єктів з класом text 
	Та мають той самий рівень вкладеності
*/
.text ~ p {
  color: darkblue;
}

/* 
Тег Р, який знаходиться безпосередньо
далі по коду після об'єктів з класом text
та мають той самий рівень вкладеності
*/
.text + p {
	color: darkmagenta;
}

/* Селектор атрибутів */
[class*="__container"] {
	color: lightcoral;
}




/* 40.00 Настроїти гарячі клавіші  */
/* 01.01.01
